<div class="pAllSide">
    <h1>Apply css using different types Selectors, Examples :</h1>
    
    <div style="padding-left:15px;">
        <div>
            <h2><i>Element Selector</i></h2>
            <div style="padding-left: 15px;">
                <h3>1. Example - Using single element selector</h3>
                    <p class="pAllSide">This is para 2; example for <strong>Element Selector</strong></p>
                
                <h3>2. Example - Using multiple element selector</h3>
                    <section class="pAllSide">This is para 1; <a href="https://example.com">example</a> for <strong>Element Selector</strong></section>

                <h3>3. Example : Change default behaviour of "li" element property "list-style-type" from "disc" to "none"</h3>
                <ul>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                </ul>
            </div>
        </div>
        <div>
            <h2><i>Class Selector</i></h2>
            <div style="padding-left: 15px;">
                <h3>4. Example : Using class selector set 2nd Item in red color</h3>
                <ul>
                    <li>Item 1</li>
                    <li class="text-red">Item 2</li>
                    <li>Item 3</li>
                </ul>
            </div>
        </div>
    </div>
</div>
