<!-- <mat-checkbox [formControl]="hideRequiredControl">Hide required marker</mat-checkbox>
    <div class="mat-form-field inline" style="font-size: 15px;">
    <mat-form-field appearance="fill" class="inline">
        <mat-label>Select File</mat-label>
        <input matInput (click)="selectBootstrapFile.click()" placeholder="Select File" />
        <input type="file" #selectBootstrapFile [hidden]="true" (change)="selectFile($event)">
    </mat-form-field>
</div> -->



<!-- <button mat-raised-button color="primary" (click)="openConfirmDialog()">Confirm</button>
<br>
Response is: {{result}} -->