// mat-sidenav-container {
//     height: calc(100vh - 65px);
// }

mat-sidenav {
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    padding: 16px;
    text-align: center;
}

.menu-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    mat-icon {
        margin-right: 8px;
    }
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}