<mat-toolbar class="mat-elevation-z12">
    <div> Responsive side navigation </div>
</mat-toolbar>

<app-mat-sidenav-container></app-mat-sidenav-container>
<!-- <mat-sidenav-container>
    <mat-sidenav class="mat-elevation-z8" mode="side" opened>Sidenav content</mat-sidenav>
    <mat-sidenav-content>
        <div class="example-container mat-elevation-z0">
            Mat Dahsboard
        </div>
        <div class="main-content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->