<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="/" routerLinkActive="active" class="navbar-brand">Login</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="list" routerLinkActive="active" class="nav-item nav-link active">
          Expenses <!-- <span class="sr-only">(current)</span> -->
        </a>
        <a routerLink="add" routerLinkActive="active" class="nav-item nav-link">Add User</a>
        <a routerLink="" routerLinkActive="active" class="nav-item nav-link disabled">Disabled</a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>