<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
    style="margin-left: 940px;">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button id="closePopup" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="productsForm">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Name</label>
                        <input formControlName="name" type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Product Type</label>
                        <input formControlName="product_type" type="text" class="form-control" placeholder="Product Type">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Cream Type</label>
                        <input formControlName="cream_type" type="text" class="form-control" placeholder="Cream Type">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" (click)="onSubmit()" class="btn btn-primary">Add Product</button>
            </div>
        </div>
    </div>
</div>