<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
    style="margin-left: 940px;">
    Launch demo modal
</button>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Sr. No.</th>
                <th scope="col">Amount</th>
                <th scope="col">Description</th>
                <th scope="col">Expense Category</th>
                <th scope="col">Paid By</th>
                <th scope="col">Date & Time</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let expense of expenses; let i = index;">
                <th scope="col">{{i+1}}</th>
                <td>{{expense?.amount}}</td>
                <td>{{expense?.description}}</td>
                <td>{{expense?.expense_category}}</td>
                <td>{{expense?.paid_by}}</td>
                <td>{{expense?.date_time}}</td>
                <td>
                    <button type="button" class="btn btn-warning">Edit</button>
                    <button type="button" class="btn btn-danger m-2">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button id="closePopup" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="productsForm">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Amount</label>
                        <input formControlName="amount" type="text" class="form-control" placeholder="Amount">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Description</label>
                        <input formControlName="description" type="text" class="form-control" placeholder="Description">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Expense Category</label>
                        <input formControlName="expense_category" type="text" class="form-control" placeholder="Expense Category">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Payment By</label>
                        <input formControlName="paid_by" type="text" class="form-control" placeholder="Payment By">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" (click)="onSubmit()" class="btn btn-primary">Add Product</button>
            </div>
        </div>
    </div>
</div>